* {
    box-sizing: border-box
}


label {
   width: 50%; 
   padding: 12px 20px; 
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box; 
}

form {
  text-align: center;
}

input {
   width: 50%; 
   padding: 12px 20px; 
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box; 
}

input[type=name] { 
   width: 50%; 
   padding: 12px 20px; 
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box; 
} 

input[type=email] { 
   width: 50%; 
   padding: 12px 20px; 
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box; 
} 

input[type=password] { 
   width: 50%; 
   padding: 12px 20px;
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box; 
}

input[type=submit] { 
   width: 50%;
   padding: 12px 20px;
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box;
   color: white;
   background-color: #0c8ed3;
}
