body {
  background-color: #00000;
  color: black;
  padding: 40px;
  margin:40px;
  font-family: Arial;
  text-align: center;
}

* {
    box-sizing: border-box
}

input {
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}

input[type=name] { 
   width: 50%; 
   padding: 12px 20px; 
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box; 
} 

input[type=email] { 
   width: 50%; 
   padding: 12px 20px; 
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box; 
} 

input[type=password] { 
   width: 50%; 
   padding: 12px 20px;
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box; 
}

input[type=submit] { 
   width: 50%;
   padding: 12px 20px;
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box;
   color: white;
   background-color: #0c8ed3;
}
